# Python virtual environment
.venv/

# Secrets
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store